# Backblaze B2 Environment Configuration (Optional)
# Enter your credentials here or in the website UI modal

VITE_B2_BUCKET_NAME=
VITE_B2_ENDPOINT=s3.us-east-005.backblazeb2.com
VITE_B2_CUSTOM_DOMAIN=
VITE_B2_REGION=us-east-005
VITE_B2_KEY_ID=
VITE_B2_APPLICATION_KEY=
